.head {
    margin-bottom: 24px;
}

.title {
    margin-bottom: -7px !important;
}

.report {
    color: var(--dull);
    font-size: 12px;
    font-weight: 400;
}

.share {
    padding: 14px 26px !important;
}

.del {
    padding: 14px 40px !important;
}