.head {
    margin-bottom: 25px;
}

.title {
    margin-bottom: -7px !important;
}

.uid {
    color: var(--dull);
}

.del {
    font-size: 14px !important;
    font-weight: 400 !important;
    padding: 14px 40px !important;
}